h1{
    font-size: 50px;
    color: rgb(255, 136, 0);
    background-color: aqua;
    border: 1px solid bisque;
    font-family: 'Times New Roman', Times, serif;

}
.style1{
    font-size: 40px;
    color: pink;
    background-color: rgb(10, 136, 209);
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    
}
img{
    border: 20px solid rgba(233, 116, 20, 0.527);
}
a:hover{
    color:gray;

}
h2{
    font-size: 40px;
}
.nnn{
    font-size: 40px;
    background-color: aqua;
}
.wrap{
    margin:0 auto;
}
img{
    display: block;
  margin: 0 auto;
}